extends layout

block body
  .content
    h1.content-subhead #{error.status}: #{message}
    if error.stack !== undefined
      pre
        code.nohighlight= error.stack
    else
      h2= error.status
