extends main

block content
  h2.content-subhead Overview
  p!= page_data.content.usage
  a.pure-button.button-secondary.button-xlarge.center(href=scoped_url("submit_job"))
    i.fa.fa-server
    |  Run #{webserver.title} now
