doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/stylesheets/pure-min.css")
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/stylesheets/grids-responsive-old-ie-min.css">
    <link rel="stylesheet" href="/stylesheets/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/stylesheets/grids-responsive-min.css">
    <link rel="stylesheet" href="/stylesheets/side-menu.css">
    <!--<![endif]-->
    link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    #layout
      a#menuLink.menu-link(href='#menu')
        span
      #menu
        .pure-menu.pure-menu-open
          a.pure-menu-heading(href=scoped_url())= webserver.title
          ul
            each tab in webserver.tabs
              li(class=(current_tab.title === tab.title ? "menu-item-divided pure-menu-selected" : ""))
                a(href=scoped_url(_.first(tab.path).replace(/\/$/, "")))= tab.title
      block content
    script(src="/javascripts/ui.js")