extends main

block content
  h2.content-subhead How to use this webserver
  p!= page_data.content.usage
  h2.content-subhead Submit job
  form.pure-form.pure-form-aligned(method="POST" action=(scoped_url("/submit_job")))
    fieldset
      != render_form(previous_form || webserver.form)
      .pure-controls
        button.pure-button.pure-button-primary(type="submit")
          i.fa.fa-server
          |  Submit job
