doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/stylesheets/pure-min.css")
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/stylesheets/grids-responsive-old-ie-min.css">
    <link rel="stylesheet" href="/stylesheets/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/stylesheets/grids-responsive-min.css">
    <link rel="stylesheet" href="/stylesheets/side-menu.css">
    <!--<![endif]-->
    link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    block content
    script(src="/javascripts/ui.js")