extends ../../../lib/views/main

block content
  h2.content-subhead About this webserver
  p
  | This webserver is an illustration of how to configure additional, more complicated webservers in the future. It simply calls RNAfold from the command-line and responds to the user with the corresponding structure for input RNA, along with minimum free energy.

